* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: (var-color-white);
}

section {
  padding: 6rem 0;
}

.top-navbar ul {
  background-color: #272a31;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: flex-end;
  gap: 15px;
  padding: 0.5% 13%;
  align-items: center;
}

.top-navbar ul li {
  cursor: pointer;
}

nav .nav-container {
  align-items: center;
}

.image-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.nav-menu li:hover {
  background-color: royalblue;
  padding: 5px;
  border-radius: 5px;
  transform: 0.5s ease;
}

.nav-menu li a:hover {
  color: white;
}

.nav-menu .about {
  color: #ee4c3a;
}

.cc-compagin {
  border: 2px solid #ec5242;
  padding: 10px;
  color: #ee4c3a;
}

.cc-compagin:hover {
  background-color: royalblue;
  padding: 10px;
}

.nav-container img {
  width: 80px;
  margin-left: 25px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15%;
  padding-right: 13%;
  align-items: center;
}

.menu-js .close-btn {
  display: none;
}

.container-intro-about {
  background-image: url('imgs/Website-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.project-head-title-about {
  color: red;
  font-weight: 400;
  font-size: 30px;
}

.project-desc-about {
  font-weight: 700;
  font-size: 3.5rem;
}

.project-paragraph-about p {
  background: rgb(255, 255, 255);
  border-radius: 0.4rem;
  margin: 4rem 16rem;
  padding: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.project-title-about {
  display: none;
}

/* SECTIOM TWO */

.container-advertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

.text-advertise {
  text-align: center;
  width: 40%;
  font-weight: 200;
}

.text-advertise h2 {
  font-size: 27px;
}

.line-advertise-program {
  margin: 0 14rem;
  border: 1px solid red;
  margin-bottom: 25px;
}

.global-logo img {
  width: 450px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid rgb(219, 214, 214);
  padding: 15px 80px;
}

/* SECTION THREE */

.container-past-summits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid #848892;
}

.text-past-summits {
  width: 45%;
  margin-bottom: 28px;
}

.line-summit-program {
  margin: 0 14rem;
  border: 1px solid red;
  margin-bottom: 25px;
}

.summits {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

.past-years-summits-1 img {
  width: 350px;
  margin-right: 30px;
  opacity: 0.7;
}

.past-years-summits-1 h3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 5%;
  color: white;
}

.past-years-summits-1 h3 > b {
  font-weight: bold;
  font-size: 35px;
}

.past-years-summits-2 img {
  width: 350px;
  opacity: 0.7;
}

.past-years-summits-2 h3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 55%;
  color: white;
}

.past-years-summits-2 h3 > b {
  font-weight: bold;
  font-size: 35px;
}

/* FOOTER */

.companies {
  display: none;
}

.address-footer {
  background-color: #272a31;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.address-footer img {
  width: 22%;
}

.address-footer span {
  color: white;
  font-size: 20px;
  font-weight: 200;
  padding-top: 3.2%;
}

/* MOBILE VERSION */

@media screen and (max-width: 768px) {
  /* NAVBAR  */

  .hamburger-btn .bar {
    display: flex;
    flex-direction: column;
    width: 30px;
    position: relative;
    border: 3px solid #272a31;
    margin-bottom: 5px;
    z-index: 20;
    top: 30px;
    left: 25px;
  }

  .menu-js {
    background-color: #3a3b3d;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
  }

  .menu-js .close-btn {
    display: block;
  }

  .menu-js button {
    color: white;
    background-color: transparent;
    position: absolute;
    left: 30px;
    width: 30px;
    font-size: 40px;
    top: 30px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    padding-right: 36%;
    padding-top: 15%;
  }

  .image-nav ul li {
    margin-bottom: 30%;
  }

  .nav-menu li a {
    color: white;
    font-size: 30px;
  }

  .nav-menu li a:hover {
    background-color: cadetblue;
    cursor: pointer;
  }

  /* FIRST SECTION */

  .container-intro-about {
    position: relative;
    font-family: "Lato", sans-serif;
    margin-top: 0;
    background-image: url("imgs/Website-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  }

  .project-head-title-about {
    font-size: 25px;
    color: crimson;
    padding-top: 4.8rem;
    text-align: center;
  }

  .project-title-about {
    display: block;
  }

  .project-paragraph-about p {
    border: solid 3px rgb(238, 228, 228);
    padding: 2px;
    margin: 30px auto;
    text-align: center;
    text-justify: center;
    background-color: white;
  }

  .project-address-about h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0 25px;
    text-align: center;
  }

  .project-address-about address {
    font-size: 15px;
    padding-bottom: 30px;
    text-align: center;
    margin: 20px 25px;
  }

  /* CONTAINER-ADVERTISE */

  .container-advertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }

  .text-advertise {
    text-align: center;
    font-weight: 200;
    width: 80%;
  }

  .line-advertise-program {
    margin: 0 8rem;
    border: 1px solid red;
    margin-bottom: 20px;
  }

  .global-logo img {
    margin-top: 25px;
    padding: 20px;
    width: 380px;
    height: 180px;
    border: 2px solid whitesmoke;
  }

  /* PAST SUMMITS */

  .container-past-summits {
    border-top: 2px solid rgb(138, 132, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-past-summits {
    text-align: center;
    top: 2%;
    width: 85%;
  }

  .line-summit-program {
    margin: 0 10rem;
    border: red 1px solid;
    margin-bottom: 15px;
  }

  .summits {
    display: flex;
    flex-direction: column;
  }

  .past-years-summits-1 {
    position: relative;
    text-align: center;
  }

  .past-years-summits-2 {
    position: relative;
    text-align: center;
  }

  .past-years-summits-1 img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    margin: 15px auto;
  }

  .past-years-summits-1 h3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 17%;
    color: white;
  }

  .past-years-summits-1 h3 > b {
    font-weight: bold;
    font-size: 35px;
  }

  .past-years-summits-2 img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    margin: 35px auto;
  }

  .past-years-summits-2 h3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 13%;
    color: white;
  }

  .past-years-summits-2 h3 > b {
    font-weight: bold;
    font-size: 35px;
  }

  /* PARTNERS */

  .companies {
    background-color: #272a31;
    display: inline-block;
  }

  .partners-company {
    color: white;
    text-align: center;
    padding-top: 5%;
    font-weight: 300;
  }

  .line-company-program {
    margin: 0 210px;
    border: red 1px solid;
    align-content: center;
    font-size: 35px;
  }

  .company-logos {
    display: flex;
    flex-direction: row;
  }

  .second-logos {
    justify-content: center;
  }

  .companies img {
    width: 30%;
    height: 30%;
  }

  /* FOOTER */
  .address-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4%;
  }

  .address-footer img {
    background-color: #272a31;
    width: 40%;
    border-radius: 5%;
    margin-right: 6%;
  }

  .address-footer span {
    font-weight: 200;
    font-size: 12px;
  }
}
